.toolbars {
    padding: 10px 0;
    display: flex;
    font-size: 12px;

    .tool-wrapper {
        width: 100%;
        height: 24px;
        fill: #343941;
        position: relative;

        button, input {
            outline: none;
        }

        :global {
            .tooltips {
                display: none;
            }
        }

        &:hover {
            background: #eee;

            :global {
                .tooltips {
                    display: block;
                }
            }
        }

        &.disabled {           
            color: #aaa;
            fill: #aaa;

            button {
                color: #aaa;
                pointer-events: none;
            }

            &:hover {
                background: transparent;
            }
        }

        &.actived {      
            :global {
                .rql-svg-icon {
                    fill: #07c160;
                }
            }     
        }
    }
}