.react-quill-editor {

    .react-quill-header {
        height: 60px;
        background: #fff;
        display: flex;
        padding: 0 20px;
        font-size: 20px;
        font-weight: bold;
        align-items: center;
        color: #333;
    }

    .editor-content {
        width: 768px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 50px;
        padding: 30px 95px 72px;
        box-sizing: border-box;
        background: #fff;
    }
}

