.font-size {
    display: flex;
    width: 26px;
    align-items: center;
    font-size: 12px;
    margin-right: 5px;
    line-height: 1em;
    padding: 5px 0;

    .font-size-input {
        width: 26px;
        display: flex;
        align-items: center;
        font-size: 12px;
        border: 0;
        background: transparent;
    }
}

.font-size-list {
    width: 150px;
    user-select: none;
    padding: 5px 0;

    .font-size-item {
        padding: 3px 10px;
        &:hover {
            background: #fafafa;
        }
    }
}