.rql-editor {
    width: 100%;

    * {
        outline: none;
    }

    :global {
        // 富文本通用样式
        .ql-editor {
            font-size: 17px;
            overflow: hidden;

            table {
                width: 100%;
                border: 1px solid #ddd;
                border-collapse: collapse;
                margin: 10px 0;

                tr {
                    th, td {
                        border:1px solid #ddd;
                        padding: 5px 10px;
                    }
                }
            }

            blockquote {
                background: #f8f8f8;
                border-left: 4px solid #ccc;
                color: #8a8a8a;
                padding: 10px 7px;
                padding-left: 16px;
                margin: 5px 0;
            }

            ol, ul {
                padding-left: 2.2em;

                li {
                    padding-left: 0;

                    &:not(.ql-direction-rtl) {
                        padding-left: 0;
                    }

                    &::before {
                        display: none;
                    }
                }
            }

            a {
                color: #576b95;
                text-decoration: none;
            }

            p, div {
                line-height: 1.5em;
            }

            pre {
                font-size: 14px;
                margin: 10px 0;
                display: block;
                overflow-x: auto;
                padding: 1em 1em 1em 3em;
                color: #333;
                position: relative;
                background-color: rgba(0,0,0,0.03);
                border: 1px solid #f0f0f0;
                border-radius: 2px;
                counter-reset: line;
                line-height: 26px;
                white-space: normal;
    
                code {
                    background: transparent;
                    text-align: left;
                    font-size: 14px;
                    display: block;
                    white-space: pre-wrap;
                    position: relative;
                    padding: 0;
                    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
            
                    &::before {
                        position: absolute;
                        min-width: 1.5em;
                        text-align: right;
                        left: -2.5em;
                        counter-increment: line;
                        content: counter(line);
                        display: inline;
                        margin-right: 12px;
                        color: rgba(0,0,0,0.15);
                    }
                }
            }
        }
    }

    .editor-content {
        width: 100%;
        background: #fff;
        height: auto;
        min-height: 500px;
    }
}

.toolbar {
    height: 45px;
    background: rgb(250, 250, 250);        
    display: flex;
    align-items: center;
}

:global {
    // 编辑器外观样式
    .ql-toolbar.ql-snow {
        border: none;
        padding: 0;
    }

    .ql-container.ql-snow {
        border: none;
    }

    .ql-snow.ql-toolbar button, .ql-snow .ql-toolbar button {
        width: auto;
        display: flex;
        padding: 3px 0;
        margin: 0 5px;
    }

    .ql-editor.ql-blank::before {
        color: #bbb;
        font-style: normal;
        font-size: 15px;
    }
}


